
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}



#welcome-section{

    align-items: center;
    display: flex;
    justify-content: center;

    flex-direction: column;
    width: 100%;
    height: 100vh;
    
    background-image: linear-gradient(100deg, #502c2c, #271616 90%);

}

#hp{
    color: white ;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 text-align: center;
 background-image: linear-gradient(10deg, #502c2c, #271616 90%);
}
#projects{
    font-size: xx-large;
    display: flex;
    background-image: linear-gradient(100deg, #502c2c, #271616 90%);
    align-items: center;
    justify-content: center;
}

#parrafo{
    font-size: 4em;
    color: #ffffff;
  
}
span{
    color: white;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 26ch;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blink;
    
}


@keyframes blink{
    0%{
            border-color: white;
    }
    50% { border-color: transparent }
}
@media (max-width: 858px){

    #img-encuesta{
    }
    #projects{

       display: block;

        

    }
}